@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Lato');



/*BANNIERE*/
.banner {
  background:url(../images/bg_header.jpg);
  background-size: cover;
  background-position: center center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin:0;
  padding:0;
  font-family: 'Arvo', serif;
}

#home .banner h1 { color:white; margin-top: 60px; }

#home .banner h1 span { font-size: 55px; font-weight: bold;}

#home .banner p { color:#F2F2F2; line-height: 30px; font-size: 18px; opacity: 0.75;}

.buttons {text-align: center;}

.buttons .learn { background-color: #36C4C5; color:white; 
                  border: 1px solid #36C4C5; 
                  height: 50px; width:140px;}

.buttons .dl {background-color:#f52257; color:white;
              border: 1px solid #f52257 ;
              height: 50px; width:140px;}

/*FIN BANNIERE*/

/*DEBUT FEATURES*/

#features { padding-top: 50px; padding-bottom: 50px; }

#features .col-md-4 { text-align: center; }

/*FIN FEATURES*/

/*DEBUT ABOUT*/

#about { background-image: url(../images/bg_nuage.jpg);
         height: 600px;
         background-size: cover;
         background-position: center center; }

#about .blue { background-color:rgba(160, 206, 219, 0.7);
               height: 600px; 
               color:white;}

#about .blue .container { margin: 40px 40px; }

#about .blue h3 {font-size: 35px;}
#about .blue h5 {font-size: 22px;
                 padding-top: 20px; padding-bottom: 20px;}

.blocs{ ; }

.bloc1,.bloc2 { border: 1px solid white; width: 100px; }

/*FIN ABOUT*/

/*DEBUT BLOG*/
#blog { padding-top: 60px; padding-bottom: 60px;  }

#blog img {height:400px; width: 400px;}

#blog p { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 15px; color:#303030;}
#blog h2 {  font-family: 'Arvo', serif;}

#blog button {background-color: #f52257;
              border: 1px solid #f52257;
              height: 54px; width: 160px;
              color:white; font-size: 20px;}

/*FIN BLOG*/


#history { background-image: url(../images/bg_appareil_photo.jpg);
         height: 600px;
         background-size: cover;
         background-position: center center; }

#history .blue2 {background-color:rgba(160, 206, 219, 0.7); height: 600px; 
               color:white;}

#photos{background-color: grey;}
#photos .sf { width: 300px; }
#photos .sun {width: 300px;}

#partenaires .container .col-md-12 img { width: 150px; height: 100px; text-align: center; }

#contact {background-image: url(../images/bg_newsletter.jpg); height: 475px;
          color:white; 
          padding-top: 50px; }

#contact h1 { padding-bottom: 18px; }
#contact p  { padding-bottom: 15px; 
            line-height: 25px; font-size: 16px; color:black; }

#contact .form-control {padding-bottom: 20px;}

#contact button { width: 165px; height: 40px;
                  background-color: #f52257;
                  border:1px solid #f52257; }

footer { background-color: #24323B; color:white; 
        height: 190px;
        padding-top: 1px;}